snippet eq "Equation" i
\begin{equation}
    $1
\end{equation}
$0
endsnippet

snippet ff "Fraction" i
\frac{$1}{$2}$0
endsnippet

snippet int "Integral" i
\int_{$1}^{$2} $3 dx$0
endsnippet

snippet sum "Summation" i
\sum_{${1:i=1}}^{${2:n}} $0
endsnippet

snippet pder "Partial Derivative" i
\frac{\pd $1}{\pd $2}$0
endsnippet
